<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container px-5">
        <a class="navbar-brand" href="#!"> <img style="height: 40%; width:40%;" src="https://i.postimg.cc/FHLtKNLx/triad-comics.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="./admin-home">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">COMICS</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">ABOUT</a></li>
            </ul>
            <h1 style="color: black;">/</h1>
            <a routerLink="admin-login"><i class="fa-solid fa-2x fa-gear" style="color: #eceff4;"></i></a>
        </div>
    </div>
  </nav>
<div style="background-image: url('https://i.postimg.cc/rwsnJr2J/sucker-punch-samurai-wallpaper-1920x1080.jpg');">
    <br>
    <div class="text-center">
        <h1> ADD NEW COMICS </h1>
        <form [formGroup]="addProductForm" action=" " class="border p-5 my-4 container w-100 bg-black text-white" style="border-radius: 1%;">
              <input formControlName="pname" type="text" placeholder=" comic name " id="pn1" name="pname" class="form-control mt-3">
              <input formControlName="pagea" type="text" placeholder=" image url 1" id="p1" name="pagea" class="form-control mt-3">
              <input formControlName="pageb" type="text" placeholder=" image url 2 " id="p2" name="pageb" class="form-control mt-3">
              <input formControlName="pagec" type="text" placeholder=" image url 3 " id="p3" name="pagec" class="form-control mt-3">
              <input formControlName="rating" type="text" placeholder=" rating /100 " id="r1" name="rating" class="form-control mt-3">
                <button (click)="addNewProduct()" class="btn btn-outline-light mt-5 w-25">ADD</button>
        </form>
     </div>
     <div class="text-center">
        <button class="btn btn-outline-light mt-5 w-10" routerLink="/admin-productmng">BACK</button>
     </div>
     <br>
</div>


