<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container px-5">
        <a class="navbar-brand" href="#!"> <img style="height: 40%; width:40%;" src="https://i.postimg.cc/FHLtKNLx/triad-comics.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">COMICS</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">ABOUT</a></li>
            </ul>
            <h1 style="color: black;">/</h1>
            <a routerLink="admin-login"><i class="fa-solid fa-2x fa-gear" style="color: #eceff4;"></i></a>
        </div>
    </div>
</nav>
   
   <div style="background-size: cover; background-image: url('https://i.postimg.cc/76L0DHJG/dark-gothic-lion-wallpaper-2560x1440.jpg');">
    <div class="text-center" style="padding: 100px;">
        
            <div class="row text-white" style="justify-content: center;">
                <div class="col-3">
                    <div (click)="usermng()" class="card card-hover bg-black text-white border" style="width: 18rem;">
                        <img src="https://i.postimg.cc/WbbNFqx9/manageusr.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">MANAGE USERS</p>
                        </div>
                      </div>
                </div>
                <div class="col-3"></div>
                <div class="col-3">
                    <div (click)="productmng()" class="card card-hover bg-black text-white border" style="width: 18rem;">
                        <img src="https://i.postimg.cc/JnZnxwQP/managepr.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">MANAGE PRODUCTS</p>
                        </div>
                      </div>
                </div>
            </div>
    </div>
   </div>
